body{
    background-color: #f6f6f6;
}
img{
    width: 250px;
    height: 200px;
}
a:active,
a:hover,
a {
    text-decoration: none;
    color: #000000;
}

.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.product{
    width: 550px;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
}

